<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/html/site.css">
    <title>post page</title>
</head>
<body>
    <div class="postbox">
        <!--Title of the post box.-->
        <div class="header">
            Posts:
        </div>
        <hr>

        <!--This is the beginning of posts that have been made.-->
        <div class="post1">
            <img src="/html/logo.png" width="64" height="64">
            I had a very good breakfast today.
            <span>posted 6 days ago.</span>
        </div>
        <hr>

        <div class="post2">
            <img src="/html/logo.png" width="64" height="64">
            carl gave me dougnuts.
            <span>posted 1 week ago.</span>
        </div>
        <hr>

        <div class="post1">
            <img src="/html/logo.png" width="64" height="64">
            Jeff gave me cupcakes because I got him dougnuts.
            <span>posted 3 days ago.</span>
        </div>
        <hr>

        <div class="post2">
            <img src="/html/logo.png" width="64" height="64">
            I saw marshall eating what looked like a very good breakfast before he got sick.
            <span>posted 5 days ago.</span>
        </div>
        <hr>

        <div class="post1">
            <img src="/html/logo.png" width="64" height="64">
            I heard Jeff was gonna fire marshall because he was always being sick and then marshall was sick again!
            <span>posted 4 days ago.</span>
        </div>
        <hr>

        <div class="post2">
            <img src="/html/logo.png" width="64" height="64">
            I am never eating healthy ever again because I always get sick.
            <span>posted 2 days ago.</span>
        </div>
        <hr>

        <div class="post1">
            <img src="/html/logo.png" width="64" height="64">
            I have decided since carl gave me dougnuts and I got happier that I will start bringing in cupcakes every friday for the team.
            <span>posted 3 days ago.</span>
        </div>
        <hr>

        <div class="post2">
            <img src="/html/logo.png" width="64" height="64">
            I am feeling so much better since I started eating doughnuts yesterday.
            <span>posted 1 days ago.</span>
        </div>
        <hr>

        <div class="post1">
            <img src="/html/logo.png" width="64" height="64">
            moral has already improved in the company and sales are up 2000%!!!
            <span>posted 5 hours ago ago. 16 views</span>
        </div>
        <hr>

        <div class="post2">
            <img src="/html/logo.png" width="64" height="64">
            I have decided that we will no longer be looking to fire people.
            <span>posted 32 minutes ago. 20 views</span>
        </div>
        <hr>
    </div>
</body>
</html>
