<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/html/site.css">
        <title>signup page</title>
    </head>
<div class="popup" align="center"><!--I used the "align to center" so that all of the content "inside my popup window would be centered.-->

<div class="header">
Please sign in.
</div>

<hr>

<div>Email: <input size="20"></div>
<div>Name: <input size="20"></div>
<div>password: <input type="password" size="10"></div>
<div>Date of Birth: <input type="date"></div>

<hr>

<div class="button">Sign-in</Sign-in></div>

</div>
</html>